* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.688rem;

    span {
        color: #FF567B;
    }
}

main {
    width: 37.5rem;
    height: 32.5rem;
    border: 1px solid rgba(0,0,0,.95);
}