* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.content {
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . .";
    gap: 8.5rem;
}

aside {
    font-size: 5rem;
    font-weight: 500;
    line-height: 4.688rem;
    grid-area: hero;

    span {
        color: #FF567B;
    }
}

main {
    width: 60rem;
    height: 52rem;
    border: .1rem solid rgba(0,0,0,.18);
    padding: 4.4rem 5.7rem;
    border-radius: 1.2rem;
    grid-area: form;


    h2 {
        max-width: 43rem;
        font-size: 3.6rem;
        font-weight: 500;
    }

    span {
        color: #FF567B;
    }

    .actions {
        display: flex;
        flex-flow: column wrap;

        a {
            border-radius: 1.2rem;
            text-decoration: none;
            font-size: 2.4rem;
            height: 5.5rem;
            background-color: #35E6E9;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5.4rem;
        }

        a + a {
            background-color: #FF5678;
            margin-top: 4.8rem;
        }
    }

}

footer {
    p {
        font-size: 1.6rem;
        margin-top: 8rem;
    }

    a {
        margin-top: 1rem;
        font-size: 1.8rem;
        display: block;
        text-align: center;
        color: #000;
    }
}