* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%;
}

aside {
    font-size: 5rem;
    font-weight: 500;
    line-height: 4.688rem;

    span {
        color: #FF567B;
    }
}

main {
    width: 60rem;
    height: 52rem;
    border: .1rem solid rgba(0,0,0,.95);

    h2 {
        max-width: 43rem;
        font-size: 3.6rem;
        font-weight: 500;
    }
}