* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    font-size: 62.5%;
    --default-border: .1rem solid rgba(0,0,0,.15);
    --default-border-radius: 1.2rem;
}

body {
    font-size: 1.6rem;
}

.content {
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . .";
    gap: 8.5rem;
}

aside {
    font-size: 5rem;
    font-weight: 500;
    line-height: 4.688rem;
    grid-area: hero;

    span {
        color: #FF567B;
    }
}

main {
    width: 63rem;
    height: 60rem;
    border: var(--default-border);
    padding: 4.4rem 5.7rem;
    border-radius: var(--default-border-radius);
    grid-area: form;
    position: relative;


    h2 {
        max-width: 43rem;
        font-size: 3.6rem;
        font-weight: 500;
    }

    span {
        color: #FF567B;
    }

    .actions {
        display: flex;
        flex-flow: column wrap;

        a {
            border-radius: var(--default-border-radius);
            text-decoration: none;
            font-size: 2.4rem;
            height: 5.5rem;
            background-color: #35E6E9;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5.4rem;
        }

        a + a {
            background-color: #FF5678;
            margin-top: 4.8rem;
        }
    }

}

footer {
    p {
        font-size: 1.6rem;
        margin-top: 8rem;
    }

    a {
        margin-top: 1rem;
        font-size: 1.8rem;
        display: block;
        text-align: center;
        color: #000;
    }
}

header {
    display: flex;
    gap: 0 1.8rem;
    align-items: center;
    margin-bottom: 5rem;
    
    i {
        font-size: 2.4rem;
        color: #FF567B;
    }
}

input {
    width: 489px;
    height: 5.5rem;
    background: #fff;
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    &::placeholder {
        color: #bab7b7;
        padding: 0 0 0 1rem ;
    }

    & + button {
        position: absolute;
        right: -1.2rem;
        top: 4.525rem;
        background-color: transparent;
        border: none;
        color: #35E6E9;
        font-size: 2.4rem;
        cursor: pointer;
    }
}

.points {
    position: relative;
}

label {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.2rem 0 1rem 0;
    display: block;
}